USE [ToDoListDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/11/2024 11:09:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoItems]    Script Date: 1/11/2024 11:09:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[ConcurrencyToken] [timestamp] NOT NULL,
 CONSTRAINT [PK_ToDoItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoItemTags]    Script Date: 1/11/2024 11:09:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoItemTags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ToDoItemID] [int] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[ConcurrencyToken] [timestamp] NOT NULL,
 CONSTRAINT [PK_ToDoItemTags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToDoItemUsers]    Script Date: 1/11/2024 11:09:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoItemUsers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ToDoItemID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_ToDoItemUsers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/11/2024 11:09:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [varbinary](max) NOT NULL,
	[PasswordSalt] [varbinary](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ConcurrencyToken] [timestamp] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240109023343_Initial-Create', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[ToDoItems] ON 

INSERT [dbo].[ToDoItems] ([ID], [Name], [Description], [DueDate], [Status], [Priority], [UserID]) VALUES (1, N'Coding', N'Coding for 1 hours', CAST(N'2024-09-10T21:50:08.3220000' AS DateTime2), N'In Progress', N'Low', 2)
INSERT [dbo].[ToDoItems] ([ID], [Name], [Description], [DueDate], [Status], [Priority], [UserID]) VALUES (2, N'jogging', N'jogging 2 hours', CAST(N'2024-01-31T05:35:57.6780000' AS DateTime2), N'Not Started', N'High', 2)
INSERT [dbo].[ToDoItems] ([ID], [Name], [Description], [DueDate], [Status], [Priority], [UserID]) VALUES (3, N'Reading', N'Reading 3 hours', CAST(N'2024-07-09T06:06:21.6870000' AS DateTime2), N'Not Started', N'Medium', 2)
SET IDENTITY_INSERT [dbo].[ToDoItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ToDoItemTags] ON 

INSERT [dbo].[ToDoItemTags] ([ID], [ToDoItemID], [Name]) VALUES (1, 1, N'coding')
INSERT [dbo].[ToDoItemTags] ([ID], [ToDoItemID], [Name]) VALUES (2, 1, N'medium')
SET IDENTITY_INSERT [dbo].[ToDoItemTags] OFF
GO
SET IDENTITY_INSERT [dbo].[ToDoItemUsers] ON 

INSERT [dbo].[ToDoItemUsers] ([ID], [ToDoItemID], [UserID]) VALUES (4, 1, 3)
SET IDENTITY_INSERT [dbo].[ToDoItemUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [PasswordSalt], [Email], [Role]) VALUES (1, N'admin', 0xE6D609C263D8D458774A0549415DAA8A3A233EE4B64EBFC08BA212BBED7BA9BE0572F1E62A6389C4770BC50FB96A8AE62552E5D693E71314022A98EF39C116D6, 0x55330C2B52BFBBC135DF51C09E6600EF75E561D75BFE8DB8BF41E2E0965E092AF27E66A4180B549E96F7C6C2ED8E15350D6ED683404B9FDE93CDDDEEEEBC380F312AF7D67FC425700252D7949A4E660E508289F1DE7DA8285904E27B0EE9CB7353A75423C6435313EA5C5D653C76C5A156357386F0C995A83AEF4463618996ED, N'admin@example.com', N'Admin')
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [PasswordSalt], [Email], [Role]) VALUES (2, N'Alex Chan', 0x3447EBCE10CA3BBDCCAB9D63004A437F148370A3B1CF5E74BC390780DF8313C998C2D5E7F037C8D0C2BB4CF6E6E62F683051E1604ADE1BFBC97D38133629916E, 0x5735850B349EB389C9F8E55D0BB4D02588FC0F8998979B96D0544DD579F583030A70BE07D83FFD25C3ED48A6277D3E292F28E7E61D22D36F764809EA211686FCA5123D7E0B3F6CE57F6E7A5E8B429C220CD9719157A27368C0912E7B7DDECEB899DA7A07A63A8262C194706AE20D4F99654478F5B0558FCBE2BFBE684C80BD2F, N'alexchan@example.com', N'User')
INSERT [dbo].[Users] ([ID], [Username], [PasswordHash], [PasswordSalt], [Email], [Role]) VALUES (3, N'Adam Lee', 0xB6F5F82A234373DA0EDB8AE841B2B60CA1EFD0D42E367B39E53650931A55191F9FF57CC5C27F09752FC8B6F9B7E213195B7C031791E659B011C86394286728E5, 0xFC7246EC901F19FDB930635FB86953323FFB6F0B938ED3EC2921096F4F6374A101777D314894F8DDFDE77DEC6B6240A995BEAF50F387AEF01197C02A7D99219CE627445D7E8F3F54A22C1365C49B0920F5174DBEFA0C68A4D604DBAD7B631309D76C648B8B69877DA3D64F18A0FE85B43A35E3EB5D07BD09410419A6E6B34518, N'adamlee@example.com', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[ToDoItems]  WITH CHECK ADD  CONSTRAINT [FK_ToDoItems_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToDoItems] CHECK CONSTRAINT [FK_ToDoItems_Users_UserID]
GO
ALTER TABLE [dbo].[ToDoItemTags]  WITH CHECK ADD  CONSTRAINT [FK_ToDoItemTags_ToDoItems_ToDoItemID] FOREIGN KEY([ToDoItemID])
REFERENCES [dbo].[ToDoItems] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ToDoItemTags] CHECK CONSTRAINT [FK_ToDoItemTags_ToDoItems_ToDoItemID]
GO
